.favoritos{
  padding: 2em 3em;
}
.favoritos h1{
  color: white;
  font-size: 35px;
  border-bottom: 1px;
  border-bottom-color: white;
  border-bottom-style: solid;
}

.favoritos h2{
  color: white;
  font-size: 20px;
  border-bottom: 3px solid white;
  display: inline-block;
}
.favoritos .wrapper{
  display: flex;
  flex: 0 0 calc(20%-15px);
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  height: fit-content;
}
.favoritos .wrapper .movie-card{
  width: calc(20% - 15px);
}
.favoritos .wrapper .movie-card:hover{
  transform: scale(1.05); 
}
.favoritos .wrapper .movie-card a{
  display: block;
}
.favoritos .wrapper .movie-card a img{
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 420px){
  .favoritos{
    padding: 0em 1.5em 1.5em 1.5em;
  }
  .favoritos .wrapper .movie-card{
    width: calc(50% - 15px);
  }
}