/* Resets */
*{
    box-sizing: border-box;
}
ul,ol {
    padding: 0;
}
li {
    list-style-type:none;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    font-family: Nunito;
    margin: 0;
    background-color: white;
    padding-bottom: 150px;
}

/* Navigation

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #4e73df;
    color: #fff
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

nav ul li{
    display: flex;
    justify-content: space-around;
} */


/* footer */
footer {
    background-color: whitesmoke;
    padding: 40px 0;
    color: #666;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content:space-around;
}


