.movie-cards-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px; 
    margin-bottom: 20px; 
}

.movies-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}

.home h1 {
    display: flex;
    justify-content: left;
    color: white;
    margin-left: 60px;
    margin-top: 30px;
}

.link {
    color: white;
    text-align: center;
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
}

.link:hover {
    color: lightgray;
}