header {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative; 
    width: 100%;
    color: white;
    padding: 10px;
    margin: 5px;
    height: 10vh;
  }
  
  .logo {
    position: absolute; 
    left: 20px; 
  }
  
  .header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-size: 25px;
  }
  
  .menu li {
    margin: 0 30px;
  }
  
  .menu a {
    text-decoration: none;
    color: white; 
    font-weight: bold;
  }
  
  .menu a:hover {
    color: lightgray; 
  }
  
  .logo-img {
    max-width: 150px;
    max-height: 9vh;
  }
@media (max-width:430px){
  header{
    margin: 0px;
    justify-content: end;
  }
  .menu li{
    margin: 0px 15px;
  }
  .menu a{
    font-size: 18px;
  }
}