header {
    display: flex;
    flex-direction: row;
    background-color: black; 
    padding: 10px 0;
    color: white; 
}

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: #e5e5e5; 
    font-weight: bold;
}

.menu a:hover {
    color: white; 
}

.logo {
    display: flex;
    margin: 10px;
}

.logo-img {
    max-width: 100px;
}
