.notfound-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.notfound-menu h1 {
    font-size: 50px;
    color: white;
}

.notfound-link {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 25px;
    margin-bottom: 200px;
}

.notfound-link:hover {
    color: lightgray;
}